{% load static %}

<div class='container'>
  <div class='row'>
    <div class="col">
    <div class='row'>
      <h5 class='dark-grey-text'><strong>プロフィール</strong></h5>
    </div>

    <hr class='my-3'>

    <div class='row'>
      <img class="rounded-circle mx-auto mt-3" src="{% static 'img/kyoto.jpg' %}" alt="Card image cap" width="110", height="110">
        <p class="card-text dark-grey-text my-4" style='font-size:90%; line-height:150%'>
          京大院農学研究科にて作物生態学を修了後、通信系の企業に就職。
          IoTサービスの新規開発に関わる中でエンジニアとして修行中。
          AIやIoTを農業研究のツールとして少しでも広められるようがんばります。
        </p>

    </div>
    </div>
    <div class='row'>
      <div class="col">
      <a href="https://twitter.com/cropxtech?ref_src=twsrc%5Etfw" class="twitter-follow-button mb-3" data-lang="en" data-show-count="false">Follow @cropxtech</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a class="twitter-timeline" data-lang="en" data-height="400" href="https://twitter.com/cropxtech?ref_src=twsrc%5Etfw">Tweets by cropxtech</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    </div>
  </div>
</div>
